@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

:root {
  --color-navy: #0D1B2A;
  --color-safari: #E8621A;
  --color-cream: #F5EFE6;
  --color-off-white: #FAFAF8;
  --color-text-dark: #1A1A1A;
  
  --radius-card: 20px;
  --radius-button: 12px;
  
  --shadow-lux: 0 4px 20px rgba(13, 27, 42, 0.05);
  --shadow-lux-hover: 0 12px 40px rgba(13, 27, 42, 0.12);
  
  --font-serif: "Playfair Display", serif;
  --font-sans: "DM Sans", sans-serif;
}

@theme {
  --color-navy: var(--color-navy);
  --color-safari: var(--color-safari);
  --color-cream: var(--color-cream);
  --color-off-white: var(--color-off-white);
  --color-dark: var(--color-text-dark);
  
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);

  --shadow-lux: var(--shadow-lux);
  --shadow-lux-hover: var(--shadow-lux-hover);
}

body {
  background-color: var(--color-navy);
  color: #FFFFFF;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

.font-serif {
  font-family: var(--font-serif);
}
